.noteCard {
  /*background-color: #0fd0d3;*/
  background-color: #fff7c4;
}

.cardBody {
  overflow: hidden;
  mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.cardText {
  white-space: pre-line;
}
